@font-face {
  font-family: 'Untitled Sans';
  src: url('/fonts/Untitled-Sans.woff2') format('woff2'),
      url('/fonts/Untitled-Sans.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Untitled Sans';
  src: url('/fonts/Untitled-Sans-Bold.woff2') format('woff2'),
      url('/fonts/Untitled-Sans-Bold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Canela';
  src: url('/fonts/CanelaWeb-Regular.woff2') format('woff2'),
      url('/fonts/CanelaWeb-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}